doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Contracts
  | &ZeroWidthSpace;
  style.
    .navm{
    background-image: url('https://diy.sndimg.com/content/dam/images/diy/fullset/2014/12/8/0/TS-96326751_mold-cinderblock-basement-wall_h.jpg.rend.hgtvcom.966.725.suffix/1420691099014.jpeg');
    height: 150px;
    }
    ​
    ​
    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    ​
    form li + li {
    margin-top: 60px;
    }
    ​
    label {
    display: inline-block;
    width: 120px;
    text-align: right;
    }
    ​
    input,
    textarea {
    font: 2em sans-serif;
    ​
    width: 150px;
    box-sizing: border-box;
    ​
    border: 1px solid #999;
    }
    ​
    input:focus,
    textarea:focus {
    border-color: #000;
    }
    ​
    textarea {
    vertical-align: top;
    ​
    height: 30px;
    }
    ​
    ​
    footer{
    text-align: center;
    position: static;
    left:0;
    bottom: 0;
    background-color: black;
    color: white;
    font-size: 15px;
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
    /* margin-left: 650px; */
    ​
    }
    .first  {
    text-decoration:none;
    font-size: 20px;
    margin: 35px;
    color: white;
    border-radius: 20px;
    background:red;
    padding: 20px;
    width: 323px;
    height: 30px;
    padding-bottom: 30px;
    padding-top: 4px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    }
    .second  {
    text-decoration:none;
    font-size: 20px;
    margin: 35px;
    color: white;
    border-radius: 20px;
    background: green;
    padding: 20px;
    width: 323px;
    height: 30px;
    padding-bottom: 30px;
    padding-top: 4px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    margin-left: 100px;
    }
    .third {
    text-decoration:none;
    font-size: 20px;
    margin: 35px;
    color: white;
    border-radius: 20px;
    background: brown;
    padding: 20px;
    width: 323px;
    height: 30px;
    padding-bottom: 30px;
    padding-top: 4px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    margin-left: 280px;
    }
    .split {
    height: 80%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 150px;
    bottom:150px;
    overflow-x: hidden;
    padding-bottom: 100px;
    text-align:center;
    
    }
    /* Control the left side */
    .left {
    left: 0;
    background-color: silver ;

    }
    /* Control the right side */
    .right {
    right: 0;
    background-color: gray;
    }
    .centered img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
| &ZeroWidthSpace;
.navm
  | &ZeroWidthSpace;
  a.first(href='/home') Home   
  a.second(href='/contact')  Consultation 
  a.third(href='/services') REQUEST A SERVICE
  | &ZeroWidthSpace;
  |   &ZeroWidthSpace;
| &ZeroWidthSpace;
br
.split.left
  .centered
    h3 Wall Painting
    img(src='https://betterdecoratingbible.com/wp-content/uploads/2020/01/house-wall-painting-decorating-ideas.png' alt='Wall paint')
    br
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates a ut porro ipsa odio fugiat ab distinctio magnam? Ratione corrupti labore, dolore in porro voluptatem consequuntur? Earum veritatis aut at!
    p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, ea? Omnis id temporibus aliquam maiores repellendus animi delectus dolor, harum similique ipsa in eius, magnam sunt, repudiandae exercitationem perferendis? Nostrum?
.split.right
  .centered
    h3 Wall construction
    img(src='https://st.hzcdn.com/fimgs/633238d0079d655c_2900-w500-h375-b0-p0--.jpg')
    br
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi odio, non sint quibusdam odit, blanditiis iste ipsam perferendis error eaque modi inventore? Voluptatibus similique cupiditate beatae numquam quos sequi inventore..
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat aut sed ea ipsa, illum consequuntur culpa qui inventore corrupti labore adipisci ex, commodi suscipit libero. Aut soluta non dignissimos maxime.
| &ZeroWidthSpace;
| &ZeroWidthSpace;
| &ZeroWidthSpace;
| &ZeroWidthSpace;
footer
  h3
    | Official WCX Panting Company | Established by Phillip Wood in 1996
    | &ZeroWidthSpace;
| &ZeroWidthSpace;